<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--
    <add key="host" value="103.27.238.158" />
    <add key="port" value="57019" />
    <add key="host" value="127.0.0.1" />
    <add key="port" value="27017" />

    <add key="MongoDBbin" value="C:\\Program Files\\MongoDB\\Server\\3.4\\bin" />
    <add key="AddressOut" value="D:\\temp" />
    -->

    <add key="host" value="103.27.238.158" />
    <add key="port" value="47019,57019" />
    <add key="MongoDBbin" value="C:\\Program Files\\MongoDB\\Server\\3.4\bin"/>
    <add key="AddressOut" value="D:\\temp" />

    <add key="ConnectStringAgencyAdmin" value="mongodb://127.0.0.1:27017/agency_admin_production" />
    <add key="ConnectStringVimeAdmin" value="mongodb://127.0.0.1:27017/vime_admin_production" />
    <add key="email" value="landsofthcm@gmail.com" />
    <add key="password" value="01663193718" />
    <add key="template" value="VIME-INFORM-EXPIREDATE-CONTRACT.html" />
    <add key="pathTemplate" value="D:\\Landsoft\\Repos\\BackUpServer\\backupDBv1\\backupDBv1\\bin\\Debug\\App_Data" />
    <add key="subject" value="[VIME] - GIA HẠN DỊCH VỤ" />
  </appSettings>
</configuration>